RewriteEngine on


# Inicio
RewriteRule home ./index.php

RewriteRule Abrir ./openClaim.php

RewriteRule claim ./table/ClaimFull.php
RewriteRule claim/([a-zA-Z]+)$ ./table/ClaimFull.php?LNC=$1

RewriteRule Claims ./table/table.php

RewriteRule Imagem ./data