@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.TypeChoose{
    width: 20%;
    /* height: 100vh; */
    padding: 15px;
    margin: 5px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.TypeChoose ul {
    list-style: none;
}

.ChangeType{
    cursor: pointer;
    padding: 15px 20px;
    background-color: rgb(228, 235, 228);
    margin: 5px 0px;
    transition: ease-in-out 0.2s;
    user-select: none;
}

.ChangeType.active{
    background-color: rgb(10, 90, 59);
    color: white;
}

.ChangeType:hover{
    filter: brightness(0.9);
    transition: ease-in-out 0.2s;
}

.Comps{
    width: 80%;
    margin: 15px;
}

.table-main{
    width: 100%;
}

th, td{
    border: 1px solid #000;
    text-align: center;
    padding: 10px 5px;
}

th{
    background-color: rgb(61, 180, 61);
    color: white;
    border: none;
}

.search{
    background-color: rgb(39, 114, 83);
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}


.input-table.none{
    display: none;
}

.input-table.active{
    display: block;
}

.Add-Item{
    border: none;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(140, 101, 212);
    color: white;
}

.Add-Item:hover{
    filter: brightness(0.9);
}

.input-item{
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.input-item:focus, .input-item:focus{
    outline: none;
}

.Criar-Item{
    border: none;
    background-color: rgb(42, 122, 175);
    color: white;
    padding: 5px 8px;
}

.search input{
    border-radius: 8px;
    padding: 5px;
    font-size: 15px;
    width: 15rem;
    padding-left: 30px;
    border: 1px solid rgb(209, 209, 209);
}

.search input:focus, .search input:focus{
    outline: none;
}