@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root{
    --white-space:rgb(241, 241, 241);
    --black-space: rgb(30, 34, 39);

    --white-font:rgb(34, 34, 34);
    --black-font: rgb(223, 223, 223);

    --second-back: rgb(38, 50, 65);
    --second-back: rgb(184, 184, 184);

    --highlight-back: rgb(35, 60, 90);;
    --highlight-back: rgb(233, 233, 233);

    --Table-style: rgb(70, 46, 136);

    --Tooltip--Back: rgb(208, 218, 212);
    --Tooltip--Main: rgb(17, 92, 55);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Header{
    padding: 25px 15px;
    margin-bottom: 30px;
    background-color: rgb(12, 167, 76);
    width: 100%;
}

.InfoSpace{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.Title{
    padding: 15px;
    margin-bottom: 20px;
    font-size: 40px;
    color: rgb(78, 78, 78);
    font-style: italic;
    text-decoration: underline 1px rgb(12, 167, 76);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; 
}

.UpdateSpace{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(199, 214, 203);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 30%;
}

.UpdateSpace i {
    color: rgb(23, 117, 62);
    margin-left: 15px;
}

.TableArea{
    width: 70%;
}

.SearchArea{
    background-color: var(--Table-style);
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.Search{
    width: 80%;
}

#SearchInput{
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    width: 70%;
}

.TableClaim{
    display: table;
    width: 100%;
    background-color: rgb(223, 223, 223);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.Row{
    display: table-row;
}

.RowCell{
    display: table-cell;
    margin: 5px;
    padding: 5px;
    border-collapse:separate;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(49, 49, 49);
    color: black;
    text-align: center;
    font-size: 15px;
}

.HeadRow .RowCell{
    background-color: var(--Table-style);
    font-weight: 200;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; 
}

.Cellinfo i{
    cursor: pointer;
}

.Cellinfo i img{
    width: 30px;
    filter: invert(32%) sepia(9%) saturate(6322%) hue-rotate(104deg) brightness(95%) contrast(82%);
}

/* .HeadRow .RowCell:nth-child(1){
    border-left: 1px solid; 
    border-top-left-radius: 15px;
}

.HeadRow .RowCell:nth-child(3){
    border-right: 1px solid;
    border-top-right-radius: 15px;
} */


.Desc{
    position: relative;
    font-size: 10px;
    text-decoration: underline dotted 1px #000000;
    cursor:help;
}

.Desc::before{
    content: '';
    border: 14px solid transparent;
    position: absolute;
    display: none;
    top: -15px;
    left: 10px;
    border-top-color: var(--Tooltip--Main);;
    border-bottom-color: #cbcbcb00;
    border-right-color: #cbcbcb00;
    border-left-color: #cbcbcb00;
    transition: 0.2s ease-in-out;
}

.Desc::after{
    content: 'teste';
    position: absolute;
    display: none;
    bottom: 30px;
    left: -100px;
    word-wrap: break-word;
    width: 250px;
    background-color: var(--Tooltip--Back);
    border: 2px solid var(--Tooltip--Main);
    color: var(--Tooltip--Main);;
    padding: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.Desc:hover::before{
    content: '';
    display: block;
    transition: 2s ease-in-out;
}

.Desc:hover::after{
    content: attr(Reclam);
    display: block;
    transition: 0.2s ease-in-out;
}

.CellStatus{
    /* background-color: rgb(230, 109, 53);
    color: rgb(51, 12, 5); */
}

.Arrow{
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
}

.Arrow img{
    width: 15px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}